$colour-primary: #15dea5;
$colour-secondary: #001534;
$colour-accent: #d6fff5;
$colour-white: #fff;
$colour-invalid: #db464b;

$heading-shadow-size: 0.55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * 0.25;
